@font-face {
    font-family: 'Inter';
    src: url('./static/Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterBold';
    src: url('./static/Inter-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}